@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'PT Sans', sans-serif; */

/* General */

$widthContainterBig: 620px;

@mixin textFormat($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: $widthContainterBig * 2;
  padding: 0 20px;
  margin: 0 auto;
}

br {
  display: block;
  margin: 10px 0;
}

/* Nav */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 10px 0;

  img {
    object-fit: cover;
    height: 60px;
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
}

.nav-list__link {
  font-style: normal;
  @include textFormat(400, 16px, 140%);
  color: black;
  text-decoration: none;

  &:hover {
    opacity: 0.65;
  }
}

/* Header */

.header {
  height: 650px;
  background: url("../../assets/images/header-3.jpg") no-repeat center;
  background-size: cover;

  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 35, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.header {
  padding-top: 180px;
}

.header-container {
  display: flex;
  flex-direction: column;

  width: $widthContainterBig;
}

.header-containter__title {
  color: white;
  font-style: normal;
  @include textFormat(700, 50px, 140%);

  position: relative;
  z-index: 2;
}

.header-containter__text {
  color: white;
  width: 350px;

  font-style: normal;
  @include textFormat(400, 16px, 140%);

  margin-top: 40px;

  position: relative;
  z-index: 2;
}

.header-containter__link {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 2;

  color: white;

  font-style: normal;
  @include textFormat(700, 16px, 140%);
  letter-spacing: 0.1em;

  margin-top: 64px;
  width: 165px;
  height: 30px;

  padding-right: 45px;
  background: url(../../assets/icons/arrow-button.png) no-repeat 95% center;
}

/* Services */

.services {
  padding: 100px 0;
}

.services-containter {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}

.services-containter__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.services-containter__item {
  background-color: #4d60f3;
  width: 380px;
  height: 223px;
  border-radius: 20px;
  padding: 30px 35px;
}

.services-containter__item-text {
  @include textFormat(700, 19px, 140%);

  color: white;
}

.services-containter__item-icon {
  margin-top: 20px;
  filter: brightness(0) invert(1);
}

.services-containter__text {
  width: 100%;
}

.services-containter__text-title {
  @include textFormat(700, 40px, 140%);
}

.services-containter__text-desc {
  margin-top: 60px;
  @include textFormat(400, 16px, 140%);
}

/* About */

.about {
  background-color: #f5f5f9;
  padding: 100px 0;
}

.about-countainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-countainer__text {
  width: 780px;
}

.about-countainer__text-title {
  @include textFormat(700, 40px, 140%);
}

.about-countainer__text-desc {
  margin-top: 40px;
  @include textFormat(400, 16px, 140%);
}

.about-countainer__img {
  max-width: 380px;
  object-fit: cover;
}

/* Reviews */

.reviews {
  margin: 100px 0;
}

.reviews-containter__title {
  @include textFormat(700, 40px, 140%);
  margin-bottom: 60px;
}

.slideshow-container {
  position: relative;
}

.slide-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #13709d;

  border-radius: 20px;
}

.slide-text__title {
  @include textFormat(700, 24px, 140%);
  margin: 0 50px;
  padding: 16px 0;
  color: #fff;
  text-align: center;
  background-color: #13709d;
}

.slide-text__desc {
  height: 350px;
  text-align: left;

  @include textFormat(400, 16px, 140%);
  color: #fff;

  margin: 0 50px;
  padding: 0 20px 20px;
  background-color: #13709d;

  strong {
    @include textFormat(700, 16px, 140%);
  }
}

.slide-text br {
  display: block;
  margin: 10px 0;
}

.slide-img {
  height: 400px;
  width: 260px;
  object-fit: cover;
  margin: 20px;

  border-radius: 20px;
}

/* Slides */
.mySlides {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;

  transition: all 0.1s ease-in;
}

.prev {
  left: 160px;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 160px;
  border-radius: 3px 0 0 3px;
  color: black;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 0.65;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;

  background-color: #13709D;
  opacity: 0.4;

  border-radius: 3px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background: #4F94B5;
  opacity: 1;
}
