@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@mixin textFormat($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

$primary-color: #32b4f2;
$second-color: #e0e0e0;

/* General */

* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #7282F9;
}

.container {
  max-width: 800px;
  height: 500px;
  margin: 50px auto;
  border: 1px black solid;
  background-color: white;
}

/* Steps */

.steps {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.step__header {
  margin-bottom: 10px;
  text-align: center;
  margin-top: auto;
}

.step__header:active,
.step__header:hover {
    opacity: 0.7;
}

.step {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.point {
  min-height: 40px;
  min-width: 40px;

  border-radius: 20px;
  background-color: $second-color;
  border: 1px solid transparent;
}

.point-active {
  background-color: $primary-color;
}

// .point-done {
//   background-color: $primary-color;
// }

.pre-line,
.post-line {
  height: 1px;
  width: 100%;
  background-color: $second-color;
}

// .line-active {
//   background-color: $primary-color;
// }

// .line-done {
//   background-color: $primary-color;
// }

.disabled {
  height: 0px;
}

/* Content */

.content_items {
  position: relative;
}

.content-item {
  margin: 10px 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.content-item__disabled {
  display: none;
}

.content-item__title {
  @include textFormat(700, 24px, 140%);
  margin-bottom: 40px;
}

.content-item__text {
  @include textFormat(400, 16px, 140%);
}

@media screen and (max-width: 820px) {
  .container {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: 580px;
  }
}
  
@media screen and (max-width: 450px) {
  .container {
    height: 680px;
  }
}

@media screen and (max-width: 370px) {
  .container {
    height: 800px;
  }
}